<!-- /public/views/future-cast.ejs -->
<!-- Renders 1 of the next 7 days forecast -->

<div class="forecast-card">
  <h2 class="forecast-day"><%= day %></h2>
  <hr />
  <span class="forecast-icon-"></span>
</div>
