<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>

    <!-- External libraries: -->
    <!-- Weather icons: -->
    <link rel="stylesheet" type="text/css" href="/css/weather-icons.min.css" />

    <!-- Our style sheet: -->
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <!-- Our scripts: -->
    <!-- <script src="/js/skycons.js"></script> -->
    <script>
      const weatherData = '<%= weather %>';
    </script>
    <!-- <script src="/js/app.js"></script> -->
  </head>
  <body>
    <% include header %>
    <header>
      <h1>The Weather App</h1>
    </header>
    <main>
      <div id="alert-hidden">
        <h1 id="alert-severity"></h1>
        <h3 id="alert-title"></h3>
        <span id="alert-message"></span>
        <br />
        <a href="" id="alert-uri">*** Click Here For More Information ***</a>
      </div>
      <% include current %>
    </main>
    <footer>
      <span>Copyright &copy;2019 by Michael Lafreniere</span>
      <button class="theme-button" onclick="toggleTheme()">Dark Theme</button>
      <a class="me" href="https://github.com/Michael-Lafreniere"
        ><span>My GitHub</span></a
      >
    </footer>
  </body>
</html>
