@charset "utf8";
@import url('https://fonts.googleapis.com/css?family=Nova+Mono|Roboto+Condensed');

:root {
  --text-color: #fff;
  --bg-color: lightgrey;
  --card-text-color: black;
  --card-bg-color: white;
  --nav-bg-color: rgb(59, 59, 59);
  --icon-color: rgb(238, 255, 0);
  --icon-bg-color: rgb(8, 32, 248);
  --alert-color: #fff;
  --alert-bg-color: rgb(202, 11, 11);
  --alert-border-color: black;
  --forecast-high-temp-color: red;
  --forecast-low-temp-color: blue;
}

:root[theme='dark'] {
  --text-color: #fff;
  --bg-color: rgb(100, 100, 100);
  --card-text-color: rgb(200, 200, 200);
  --card-bg-color: rgb(59, 59, 59);
  --nav-bg-color: rgb(59, 59, 59);
  --icon-color: rgb(238, 255, 0);
  --icon-bg-color: rgb(8, 32, 248);
  --alert-color: #fff;
  --alert-bg-color: rgb(202, 11, 11);
  --alert-border-color: black;
  --forecast-high-temp-color: rgb(245, 19, 19);
  --forecast-low-temp-color: rgb(88, 104, 248);
}

* {
  margin: 0;
  padding: 0;
}

html {
  // margin: 0 0 100px;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: 8% auto 8%;
  grid-template-areas: 'header' 'body' 'footer';
}

nav {
  grid-area: header;
  color: var(--bg-color);
  background: var(--nav-bg-color);
  font-size: 20px;
  text-align: center;
  height: 2.65vh;
  border: 1px solid black;
  span img {
    padding-left: -2px;
    vertical-align: middle;
  }
  .fake-weather-alert-button {
    position: absolute;
    float: right;
    top: 3px;
    right: 2px;
    padding: 2px 10px;
    border-radius: 5px;
  }
}

main {
  grid-area: body;
  height: 90%;

  h1 {
    text-align: center;
    width: 100%;
  }

  #alert-visible {
    text-align: center;
    position: relative;
    width: 35%;
    margin: 25px auto;
    padding: 20px 45px;
    border: 2px solid var(--alert-border-color);
    border-radius: 15px;
    color: var(--alert-color);
    background: var(--alert-bg-color);
    #alert-severity {
      margin-bottom: 15px;
      text-decoration: underline;
    }
    #alert-title {
      margin-bottom: 15px;
    }
    a {
      display: inline-block;
      padding-top: 15px;
      color: black;
    }
  }
  #alert-hidden {
    display: none;
  }

  .current-weather {
    width: 40%;
    text-align: center;
    margin: 2em auto 1em auto;
    padding: 1em 0;
    border: 1px solid var(--alert-border-color);
    color: var(--card-text-color);
    background: var(--card-bg-color);
    border-radius: 1rem;
    box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
    .current-weather-summary-group {
      margin-top: 10px;
      text-align: center;
      font-size: 30px;
    }
    #current-weather-summary-short {
      font-size: 1.25em;
    }
    #current-weather-summary-long {
      font-size: 1.05em;
    }
    #current-weather-temperature {
      font-size: 2em;
      cursor: pointer;
    }
    #current-weather-summary-icon-skycon {
      color: var(--card-text-color);
    }
  }

  .weekly-forecast {
    display: grid;
    margin-top: 3rem;
    overflow: hidden;
    place-items: center;
    padding: 2rem;
    .forecast-cards {
      display: flex;
      .forecast-card {
        cursor: default;
        padding: 2rem;
        width: 8rem;
        color: var(--card-text-color);
        background: var(--card-bg-color);
        text-align: center;
        border-radius: 1rem;
        box-shadow: 4px 4px 15px 2px rgba(black, 0.75);
        transition: 0.25s;
        &:not(:first-child) {
          margin-left: -4rem;
        }
        &:hover,
        &:focus-within {
          transform: translateY(-1rem);
        }
        &:hover ~ .forecast-card,
        &:focus-within ~ .forecast-card {
          transform: translateX(5rem);
        }
        a {
          color: var(--card-text-color);
          text-decoration: none;
          cursor: default;
        }
        hr {
          margin-bottom: 5px;
        }
        .forecast-temp-high {
          margin-top: 1rem;
          color: var(--forecast-high-temp-color);
          cursor: pointer;
        }
        .forecast-temp-low {
          color: var(--forecast-low-temp-color);
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  grid-area: footer;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 5px;
  // bottom: 0;
  // height: 100px;
  // position: absolute;
  width: 100%;
  .theme-button {
    margin-left: 5px;
    padding: 0 5px;
    border: 1px solid var(--alert-border-color);
    border-radius: 1rem;
    cursor: pointer;
  }
  .me {
    background: url('../img/Michael-Lafreniere.jpg') no-repeat center / contain;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 16px;
    right: 16px;
    display: block;
    position: fixed;
    z-index: 999;
    animation: me 1.2s linear infinite alternate;
  }
  @keyframes me {
    0% {
      transform: translateY(-4px);
    }
    100% {
      transform: translateY(4px);
    }
  }
  .me:hover span {
    right: 10px;
    opacity: 1;
    visibility: visible;
  }
  .me span {
    width: 160px;
    top: 20px;
    right: 0;
    display: block;
    position: absolute;
    color: #298585;
    font-size: 16px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }
}
